/* Backdrop animations */

.backdrop-enter-active,
.backdrop-leave-active {
  transition: opacity .7s ease .4s;
}

.backdrop-enter-from,
.backdrop-leave-to {
  opacity: 0;
}

/* Fade animations */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fadeDown-enter-active,
.fadeDown-leave-active {
  transition: all .5s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.fadeDown-enter-from,
.fadeDown-leave-to {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.fadeUp-enter-active,
.fadeUp-leave-active {
  transition: all .5s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.fadeUp-enter-from,
.fadeUp-leave-to {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.fadeRight-enter-active,
.fadeRight-leave-active {
  transition: all .5s ease;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.fadeRight-enter-from,
.fadeRight-leave-to {
  opacity: 0;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.fadeLeft-enter-active,
.fadeLeft-leave-active {
  transition: all .5s ease;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.fadeLeft-enter-from,
.fadeLeft-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

/* Slide fade animations */

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.slider-item-enter-active {
  transition: all .7s ease-out;
}

.slider-item-leave-active {
  transition: all .4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slider-item-enter-from {
  transform: translateX(20px);
  opacity: 0;
}

.slider-item-leave-to {
  transition: all .4s cubic-bezier(1, 0.5, 0.8, 1);
  transform: translateX(-40px);
  position: absolute !important;
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
}

/* Bounce animations */

.bounce-enter-active {
  animation: bounce-in 0.5s ease-in-out;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse ease-in-out;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}
