$primary-color-100: #FC5457;
$primary-color-200: #F22C30;
$primary-color-300: #E70409;
$primary-color-400: #B50307;
$primary-color-500: #830204;

$secondary-color-100: #F73639;
$secondary-color-200: #DB1F22;
$secondary-color-300: #BF080A;
$secondary-color-400: #8E0608;
$secondary-color-500: #5D0405;

$dark-red-color-100: #790001;
$dark-red-color-200: #470000;
$green-color-100: #A0D117;
$green-color-200: #7BA112;
$blue-color-100: #2B93EB;
$blue-color-200: #1479D2;

$base-shadow: 0 2px 20px rgba(0, 0, 0, .3);